.mdx h1 {
  @apply mt-12 scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

.mdx h2 {
  @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

.mdx h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
}

.mdx h4 {
  @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
}

.mdx p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

.mdx blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

.mdx table {
  @apply my-6 w-full overflow-y-auto;
}

.mdx tr {
  @apply m-0 border-t p-0 even:bg-muted;
}

.mdx th {
  @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
}

.mdx td {
  @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
}

.mdx ol {
  @apply my-6 ml-6 list-decimal [&>li]:mt-2;
}

.mdx ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

.mdx pre {
  @apply mb-4 mt-6 overflow-x-auto rounded-lg border bg-black py-4;
}

.mdx code {
  @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

.mdx img {
  @apply h-auto w-full rounded-lg;
}

.mdx a {
  @apply font-medium text-primary underline underline-offset-4;
}

[data-rehype-pretty-code-figure] {
  @apply relative;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 font-normal;
  counter-reset: line;
  box-decoration-break: clone;
}

.mdx [data-rehype-pretty-code-figure] [data-line] {
  @apply inline-block min-h-[1rem] w-full px-4 py-0.5;
}

.mdx [data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
  @apply px-2;
}

.mdx
  [data-rehype-pretty-code-figure]
  [data-line-numbers]
  > [data-line]::before {
  @apply text-xs text-zinc-50/40;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

.mdx [data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply bg-zinc-700/50;
}

.mdx [data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply relative;
}

.mdx [data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded-md border-zinc-700/70 bg-zinc-700/50 p-1;
}

.mdx [data-rehype-pretty-code-title] {
  @apply mt-2 px-4 pt-6 text-sm font-medium;
}

.mdx [data-rehype-pretty-code-title] + pre {
  @apply mt-2;
}
