---
import BaseHead from '@/components/base-head.astro'
import HeaderLink from '@/components/header-link.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="flex h-screen w-screen flex-col items-center justify-center">
      <nav class="flex gap-2">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </nav>
      <h1 class="text-4xl">wontory</h1>
    </main>
  </body>
</html>
