---
import BaseHead from '@/components/base-head.astro'
import HeaderLink from '@/components/header-link.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="flex h-screen w-screen flex-col items-center justify-center">
      <nav class="flex gap-4 py-16">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </nav>
      <h1
        class="scroll-m-20 text-6xl font-extrabold tracking-tight lg:text-9xl"
      >
        wontory
      </h1>
      <span class="px-4 py-16 text-center text-foreground/60">
        I'm a front-end developer who loves to create beautiful and functional
        websites.</span
      >
    </main>
  </body>
</html>
