---
import { ArrowLeft } from 'lucide-react'
import HeaderLink from '@/components/header-link.astro'
---

<header class="inset-x-0 xl:fixed xl:top-0">
  <nav class="container flex items-center justify-between py-6">
    <a href="../"><ArrowLeft /></a>
    <div class="flex gap-8">
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
