---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/libs/utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
// eslint-disable-next-line no-useless-escape
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + subpath?.[0]
---

<a
  href={href}
  class={cn(
    'transition-colors hover:text-foreground/80',
    isActive ? 'text-foreground' : 'text-foreground/60',
    className,
  )}
  {...props}
>
  <slot />
</a>
