---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/libs/utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
---

<a
  href={href}
  class={cn(
    'transition-colors hover:text-foreground/80 text-foreground/40',
    className,
  )}
  {...props}
>
  <slot />
</a>
