---
import { cn } from '@/lib/utils'

const pathname = Astro.url.pathname
---

<div class="mr-4 hidden md:flex">
  <a href="/" class="mr-6 flex items-center space-x-2">
    <span class="hidden text-lg font-light sm:inline-block">
      <span class="mr-0.5 font-medium">wontory</span>dev
    </span>
  </a>
  <nav class="flex items-center gap-6 text-sm">
    <a
      href="/blog"
      class={cn(
        'transition-colors hover:text-foreground/80',
        pathname?.startsWith('/blog')
          ? 'text-foreground'
          : 'text-foreground/60',
      )}
    >
      블로그
    </a>
  </nav>
</div>
