---
const year = new Date().getFullYear().toString()
---

<footer class="py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-center gap-4 md:h-24"
  >
    <p
      class="text-balance text-center text-sm leading-loose text-muted-foreground"
    >
      &copy; {year}
      <a
        href="https://github.com/wontory"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">wontory</a
      >. All rights reserved.
    </p>
  </div>
</footer>
