---
import Header from '@/components/header.astro'
import RootLayout from '@/layouts/root-layout.astro'

const { title, description } = Astro.props
---

<RootLayout {title} {description}>
  <Header />
  <main class="container pb-20 pt-2 xl:py-20">
    <slot />
  </main>
</RootLayout>
