---
import BaseHead from '@/components/base-head.astro'

const { title, description } = Astro.props
---

<html lang="ko">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body>
    <slot />
  </body>
</html>
